<div id="primary-nav" class="py-3" style="background-color: #F0F9FA;">
  <div class="container">
    <ul class="nav col-12 col-lg-auto mb-2 justify-content-end mb-md-0">
      {% for item in site.nav %}
        {% if item.url == page.dir %}
          <li><a href="{{ item.url }}" class="nav-link px-3 link-secondary">{{ item.name }}</a></li>
        {% else %}
          <li><a href="{{ item.url }}" class="nav-link px-3 link-body-emphasis">{{ item.name }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>