<style>
  .line-wrap div {
    width: 20px;
    height: 1px;
    background-color: #1B1F22;
    margin: 4px 0;
    transition: 0.4s;
  }
  #burger-menu, #back-mobile-nav {
    background-color: transparent;
    border: none;
  }
  .burger-open .line1 {
    transform: rotate(45deg) translate(4px, 4px);
  }
  .burger-open .line2 {
    opacity: 0;
  }
  .burger-open .line3 {
    transform: rotate(-45deg) translate(3px, -3px);
  }
  #design-system-header {
    overflow-y: scroll;
    z-index: 999999;
  }
</style>

<div id="primary-nav" class="py-3" style="background-color: #F0F9FA;">
  <div class="container">
    <ul class="nav col-12 col-lg-auto mb-2 justify-content-end mb-md-0 d-none d-lg-flex">
      {% for item in site.nav %}
        {% if item.url == page.dir %}
          <li><a href="{{ item.url }}" class="nav-link px-3 link-secondary">{{ item.name }}</a></li>
        {% else %}
          <li><a href="{{ item.url }}" class="nav-link px-3 link-body-emphasis">{{ item.name }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
    <div class="d-flex d-lg-none justify-content-between">
      <div>
        <button class="align-items-center d-none" id="back-mobile-nav" onclick="closeSubMenu()">
          <img src="/assets/images/left-chevron.svg" class="me-2">
          <span>Back</span>
        </button>
      </div>
      <button class="d-flex align-items-center" id="burger-menu" onclick="toggleMenu()">
        <div class="line-wrap me-2">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <span id="burger-text">Menu</span>
      </button>
    </div>
  </div>
</div>
{% include ds-mobile-navigation.html %}

<script>
    function toggleMenu() {
    var navList = document.getElementById('mobile-nav');
    var burgerMenu = document.getElementById('burger-menu');
    var designSystemHeader = document.getElementById('design-system-header');

    if (navList.classList.contains('d-none')) {
      navList.classList.remove('d-none');
      navList.classList.add('d-flex');
      designSystemHeader.classList.add('position-fixed', 'w-100', 'top-0', 'vh-100', 'bg-white');
      burgerMenu.classList.add('burger-open');
    } else {
      navList.classList.remove('d-flex');
      navList.classList.add('d-none');
      designSystemHeader.classList.remove('position-fixed', 'w-100', 'top-0', 'vh-100', 'bg-white');
      burgerMenu.classList.remove('burger-open');
      closeSubMenu();
    }
  }
  function closeSubMenu() {
    var subNavs = document.querySelectorAll('.sub-nav');
    var subNavButtons = document.querySelectorAll('.nav-link[data-bs-toggle="collapse"]');
    var parentLis = document.querySelectorAll('.nav-item');

    subNavs.forEach(function(subNav) {
      subNav.classList.remove('show');
    });
    
    parentLis.forEach(function(parentLi) {
      parentLi.style.display = 'block';
    });

    var navLinks = document.querySelectorAll('.nav-link');
    navLinks.forEach(function(navLink) {
      navLink.classList.remove('fw-semibold');
    }); 

    subNavButtons.forEach(function(button) {
      button.classList.remove('collapsed');
    });

    var backMobileNav = document.getElementById('back-mobile-nav');
    backMobileNav.classList.add('d-none');
    backMobileNav.classList.remove('d-flex');

  }
</script>