<footer class="est-footer mt-5">
  <div class="est-footer-island">
    <div class="container">
      <div class="est-footer-links-container">
        <div class="left">
          <ul>
            <li class="est-footer-link"><a href="https://github.com/Energy-Saving-Trust/Design-System">About the Design System</a></li>
            <li class="est-footer-link"><a href="https://forms.office.com/pages/responsepage.aspx?id=YUE4PGI7BU2UhlKVt2bjbBMaGypqjBFOn-n41igyzXxURVJWVlpZSFRaNEhKOEg0VzdVUjZFUlZJRC4u&route=shorturl">We’d like to hear from you</a></li>
          </ul>
        </div>
        <div class="right">
          <ul>
            <li class="est-footer-link"><a href="https://github.com/Energy-Saving-Trust/Design-System">GitHub repository</a></li>
            <li class="est-footer-link"><a href="https://teams.microsoft.com/l/team/19%3AaBC6EP3WU7wfzx6Y2HMmzqDbaXGZ-9cva_Dxax670dU1%40thread.tacv2/conversations?groupId=5df89e7b-dac3-4e6b-887f-9989f5719e3d&tenantId=3c384161-3b62-4d05-9486-5295b766e36c">Teams channel</a></li>
            <li class="est-footer-link"><a href="https://app.clickup.com/20604774/v/l/kmtv6-97632">Product roadmap</a></li>
          </ul>
        </div>
      </div>
      <div class="est-footer-brand">
        <a href="/" class="est-logo">
          <img src="/assets/images/logo-est.svg" alt="Energy Saving Trust logo">
        </a>
        <div class="est-programme">
          <p class="est-programme-name">Design System</p>
        </div>
      </div>
    </div>
  </div>
  <p class="copyright">Energy Saving Trust {{ site.time | date: '%Y' }}</p>
</footer>

{% include footer-scripts.html %}