{% assign sorted_nodes = site.pages %}

{% assign url_parts = page.url | split: '/' %}
{% assign url_parts_size = url_parts | size %}
{% assign rn = url_parts | slice: 1 %}
{% assign base_url = page.url | replace: rm %}

<div class="d-flex flex-column flex-shrink-0 py-3 d-none d-lg-flex" style="">
  <ul class="nav flex-column mb-auto">
    {% for node in sorted_nodes %}
      {% if rn contains node.section %}
        {% if node.side_bar != false %}
          {% if page.url contains node.url %}
          <li>
            <a href="{{ node.url }}" class="nav-link link-dark fw-bold" style="padding: 8px 8px 8px 0px;">{{ node.title }}</a>
          </li>
          {% else %}
          <li>
            <a href="{{ node.url }}" class="nav-link link-dark" style="padding: 8px 8px 8px 0px;">{{ node.title }}</a>
          </li>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</div>