<div class="mb-4">
  <header id="design-system-header" class="d-block">
    <div class="py-3" style="background-color: #AADCE1;">
      <div class="container">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <img src="/assets/images/logo-est.svg" alt="Energy Saving Trust logo" width="60" height="auto" class="me-4">
          <span class="fs-4 h4 mb-0">Design System</span>
        </a>
      </div>
    </div>
    {% include ds-primary-navigation.html %}
  </header>
  <div style="display: none ;background-color: #F0F9FA;" id="test-nav" class="py-3">
    <div class="d-flex justify-content-between container">
      <a id="test-back" type="button" class="btn btn-secondary">Back</a>
      <a id="test-next" type="button" class="btn btn-primary">Next</a>
    </div>
  </div>
</div>