<header class="est-header est-header-honey-yellow">

  <!-- TOP ISLAND -->
  <div class="est-header-island">

    <div class="container">

      <!--
      <ul class="est-header-utilities clearfix">
        <li><a href="#">Sign in</a></li>
        <li><a href="#">Register</a></li>
        <li><a href="#">Dashboard</a></li>
      </ul>
      -->
      <div class="est-header-brand clearfix">
        <a href="/" class="est-logo">
          <img src="/assets/images/logo-est-black.svg" alt="Energy Saving Trust logo">
        </a>
        <div class="est-programme">
          <div class="est-programme-name">Design System</div>
          <div class="est-programme-tagline">Design toolkit for Energy Saving Trust products and services</div>
        </div>
      </div>

    </div>

  </div>

  <!-- PRIMARY NAVIGATION -->
  <nav class="est-primary-navigation">
    <div class="container">
      {% include est-product-header-primary-navigation.html %}
    </div>
  </nav>

</header>