//
// Base styles
//



.card {
  // scss-docs-start card-css-vars
  --#{$prefix}card-spacer-y: #{$card-spacer-y};
  --#{$prefix}card-spacer-x: #{$card-spacer-x};
  --#{$prefix}card-bottom-img-spacer-y: #{$card-bottom-img-spacer-y};
  --#{$prefix}card-title-spacer-y: #{$card-title-spacer-y};
  --#{$prefix}card-title-sm-spacer-y: #{$card-title-sm-spacer-y};
  --#{$prefix}card-subtitle-margin-bottom: #{$card-subtitle-margin-bottom};
  --#{$prefix}card-subtitle-font-size: #{$card-subtitle-font-size};
  --#{$prefix}card-subtitle-color: #{$card-subtitle-color};
  --#{$prefix}card-subtitle-font-weight: #{$card-subtitle-font-weight};
  --#{$prefix}card-border-width: #{$card-border-width};
  --#{$prefix}card-border-color: #{$card-border-color};
  --#{$prefix}card-hover-border-color: #{$card-hover-border-color};
  --#{$prefix}card-hover-drop-shadow: #{$card-hover-drop-shadow};
  --#{$prefix}card-focus-border-color: #{$card-focus-border-color};
  --#{$prefix}card-focus-drop-shadow: #{$card-focus-drop-shadow};
  --#{$prefix}card-border-radius: #{$card-border-radius};
  --#{$prefix}card-box-shadow: #{$card-box-shadow};
  --#{$prefix}card-inner-border-radius: #{$card-inner-border-radius};
  --#{$prefix}card-cap-padding-y: #{$card-cap-padding-y};
  --#{$prefix}card-cap-padding-x: #{$card-cap-padding-x};
  --#{$prefix}card-cap-bg: #{$card-cap-bg};
  --#{$prefix}card-cap-color: #{$card-cap-color};
  --#{$prefix}card-height: #{$card-height};
  --#{$prefix}card-color: #{$card-color};
  --#{$prefix}card-bg: #{$card-bg};
  --#{$prefix}card-img-overlay-padding: #{$card-img-overlay-padding};
  --#{$prefix}card-group-margin: #{$card-group-margin};
  --#{$prefix}card-transition: #{$card-transition};
  --#{$prefix}card-arrow-link-font-weight: #{$card-arrow-link-font-weight};
  // scss-docs-end card-css-vars

  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0; // See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106
  height: var(--#{$prefix}card-height);
  word-wrap: break-word;
  background-color: var(--#{$prefix}card-bg);
  background-clip: border-box;
  border: var(--#{$prefix}card-border-width) solid var(--#{$prefix}card-border-color);
  @include border-radius(var(--#{$prefix}card-border-radius));
  @include box-shadow(var(--#{$prefix}card-box-shadow));
  padding: $card-padding;
  transition: var(--#{$prefix}card-transition);
  text-decoration: none;

  &.card-article {
    .card-title {
      margin-top: 0;
    }
  }

  &.card-category {
    padding: 0;
    .card-title {
      padding: 0 $card-padding;
    }
    .card-category {
      padding: $card-padding $card-padding 0 $card-padding;
    }
  }

  &.card-simple-article {
    padding: 0;
    border-radius: 0;
    border: none;
    border-top: var(--#{$prefix}card-border-width) solid var(--#{$prefix}card-border-color);
    .card-title {
      margin: var(--#{$prefix}card-title-sm-spacer-y) 0 $card-padding 0;
    }
    &:hover {
      border: none;
      border-top: var(--#{$prefix}card-border-width) solid var(--#{$prefix}card-border-color);
      box-shadow: none;
    }
  }

  &.card-borderless {
    border: none;
    padding: 0;
    &:hover {
      border: none;
      box-shadow: none;
    }
    .btn ~ .btn {
      margin-left: var(--#{$prefix}card-title-sm-spacer-y);
    }
    .card-text {
      margin-bottom: $card-title-spacer-y;
    }
  }

  &.card-button {
    .btn ~ .btn {
      margin-left: var(--#{$prefix}card-title-sm-spacer-y);
    }
  }

  &.card-arrow {
    .arrow-link {
      font-weight: var(--#{$prefix}card-arrow-link-font-weight);
      position: relative;
      text-decoration: none;
      &:after {
        background-image: $card-arrow-link-img;
        background-repeat: no-repeat;
        background-size: cover;
        content: '';
        position: absolute;
        width: 0.88rem;
        height: 0.73rem;
        right: calc(-10px - 0.88rem);
        bottom: calc(0.73rem/2);
      }
    }
  }

  &:hover {
    border: var(--#{$prefix}card-border-width) solid var(--#{$prefix}card-hover-border-color);
    @include box-shadow(var(--#{$prefix}card-hover-drop-shadow));
  }

  &:focus, &:after {
    outline: 2px solid transparent;
    box-shadow: 0 0 0 3px $focus-color-light, 0 0 0 6px $focus-color-dark;
  }

  > hr {
    margin-right: 0;
    margin-left: 0;
  }

  > .list-group {
    border-top: inherit;
    border-bottom: inherit;

    &:first-child {
      border-top-width: 0;
      @include border-top-radius(var(--#{$prefix}card-inner-border-radius));
    }

    &:last-child  {
      border-bottom-width: 0;
      @include border-bottom-radius(var(--#{$prefix}card-inner-border-radius));
    }
  }

  // Due to specificity of the above selector (`.card > .list-group`), we must
  // use a child selector here to prevent double borders.
  > .card-header + .list-group,
  > .list-group + .card-footer {
    border-top: 0;
  }
}

.card-body {
  // Enable `flex-grow: 1` for decks and groups so that card blocks take up
  // as much space as possible, ensuring footers are aligned to the bottom.
  flex: 1 1 auto;
  padding: var(--#{$prefix}card-spacer-y) var(--#{$prefix}card-spacer-x);
  color: var(--#{$prefix}card-color);
}

.card-title {
  margin-bottom: var(--#{$prefix}card-title-spacer-y);
  margin-top: var(--#{$prefix}card-title-spacer-y);
  font-size: $card-title-font-size;
}

.card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-subtitle {
  margin-top: 0; // stylelint-disable-line function-disallowed-list
  margin-bottom: var(--#{$prefix}card-subtitle-margin-bottom);
  font-size: var(--#{$prefix}card-subtitle-font-size);
  color: $card-subtitle-color;
  font-weight: var(--#{$prefix}card-subtitle-font-weight);
}

.card-text {
  font-size: $card-text-font-size;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link {
  &:hover {
    text-decoration: if($link-hover-decoration == underline, none, null);
  }

  + .card-link {
    margin-left: var(--#{$prefix}card-spacer-x);
  }
}

//
// Optional textual caps
//

.card-header {
  padding: var(--#{$prefix}card-cap-padding-y) var(--#{$prefix}card-cap-padding-x);
  margin-bottom: 0; // Removes the default margin-bottom of <hN>
  color: var(--#{$prefix}card-cap-color);
  background-color: var(--#{$prefix}card-cap-bg);
  border-bottom: var(--#{$prefix}card-border-width) solid var(--#{$prefix}card-border-color);

  &:first-child {
    @include border-radius(var(--#{$prefix}card-inner-border-radius) var(--#{$prefix}card-inner-border-radius) 0 0);
  }
}

.card-footer {
  padding: var(--#{$prefix}card-cap-padding-y) var(--#{$prefix}card-cap-padding-x);
  color: var(--#{$prefix}card-cap-color);
  background-color: var(--#{$prefix}card-cap-bg);
  border-top: var(--#{$prefix}card-border-width) solid var(--#{$prefix}card-border-color);

  &:last-child {
    @include border-radius(0 0 var(--#{$prefix}card-inner-border-radius) var(--#{$prefix}card-inner-border-radius));
  }
}


//
// Header navs
//

.card-header-tabs {
  margin-right: calc(-.5 * var(--#{$prefix}card-cap-padding-x)); // stylelint-disable-line function-disallowed-list
  margin-bottom: calc(-1 * var(--#{$prefix}card-cap-padding-y)); // stylelint-disable-line function-disallowed-list
  margin-left: calc(-.5 * var(--#{$prefix}card-cap-padding-x)); // stylelint-disable-line function-disallowed-list
  border-bottom: 0;

  .nav-link.active {
    background-color: var(--#{$prefix}card-bg);
    border-bottom-color: var(--#{$prefix}card-bg);
  }
}

.card-header-pills {
  margin-right: calc(-.5 * var(--#{$prefix}card-cap-padding-x)); // stylelint-disable-line function-disallowed-list
  margin-left: calc(-.5 * var(--#{$prefix}card-cap-padding-x)); // stylelint-disable-line function-disallowed-list
}

// Card image
.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: var(--#{$prefix}card-img-overlay-padding);
  @include border-radius(var(--#{$prefix}card-inner-border-radius));
}

.card-img,
.card-img-top,
.card-img-bottom {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
}

.card-img,
.card-img-top {
  @include border-top-radius(var(--#{$prefix}card-inner-border-radius));
  @include border-bottom-radius(var(--#{$prefix}card-inner-border-radius));
}

.card-img,
.card-img-bottom {
  @include border-bottom-radius(var(--#{$prefix}card-inner-border-radius));
}

.card-img-bottom {
  margin-top: var(--#{$prefix}card-bottom-img-spacer-y);
}


//
// Card groups
//

.card-group {
  // The child selector allows nested `.card` within `.card-group`
  // to display properly.
  > .card {
    margin-bottom: var(--#{$prefix}card-group-margin);
  }

  @include media-breakpoint-up(sm) {
    display: flex;
    flex-flow: row wrap;
    // The child selector allows nested `.card` within `.card-group`
    // to display properly.
    > .card {
      // Flexbugs #4: https://github.com/philipwalton/flexbugs#flexbug-4
      flex: 1 0 0%;
      margin-bottom: 0;

      + .card {
        margin-left: 0;
        border-left: 0;
      }

      // Handle rounded corners
      @if $enable-rounded {
        &:not(:last-child) {
          @include border-end-radius(0);

          .card-img-top,
          .card-header {
            // stylelint-disable-next-line property-disallowed-list
            border-top-right-radius: 0;
          }
          .card-img-bottom,
          .card-footer {
            // stylelint-disable-next-line property-disallowed-list
            border-bottom-right-radius: 0;
          }
        }

        &:not(:first-child) {
          @include border-start-radius(0);

          .card-img-top,
          .card-header {
            // stylelint-disable-next-line property-disallowed-list
            border-top-left-radius: 0;
          }
          .card-img-bottom,
          .card-footer {
            // stylelint-disable-next-line property-disallowed-list
            border-bottom-left-radius: 0;
          }
        }
      }
    }
  }
}
