//
// EST charts
//

//
// EPC display component for tools
//

$epc-color-sap-band-g: #ed1c24;
$epc-color-sap-band-f: #f15a24;
$epc-color-sap-band-e: #fbb03b;
$epc-color-sap-band-d: #fcee21;
$epc-color-sap-band-c: #39b54a;
$epc-color-sap-band-b: #009245;
$epc-color-sap-band-a: #006837;

$epc-colors: (
  "band-a": $epc-color-sap-band-a,
  "band-b": $epc-color-sap-band-b,
  "band-c": $epc-color-sap-band-c,
  "band-d": $epc-color-sap-band-d,
  "band-e": $epc-color-sap-band-e,
  "band-f": $epc-color-sap-band-f,
  "band-g": $epc-color-sap-band-g
) !default;

$epc-bar-height: 25px;
$epc-bar-base-width: 50px;
$epc-bar-base-increment: 25px;
$epc-color: $white;
$epc-bar-text-color: $white;
$epc-bar-text-size: $epc-bar-height * 2 / 3;

.epc-rating {
  border-collapse: collapse !important;
  border-spacing: 0 !important;

  thead,
  tbody,
  tfoot,
  tr,
  td,
  th {
    border-style: none;
    border-width: 0px;
    border-collapse: collapse !important;
    border-spacing: 0 !important;
  }

  th {
    font-weight: 600;
    padding-bottom: 12px;
    &:nth-child(2) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .epc-bar {
    height: $epc-bar-height;
    padding: 0 8px 0 8px;
    margin: 1px 10px 1px 0;
    font-size: $epc-bar-text-size;
    font-weight: 600;
    float: left;
    border-radius: 3px;
    text-align: right;
  }

  .epc-label {
    padding-left: 7px;
    padding-right: 0px;
    font-size: 18px;
    height: 26px;
    width: 37px;
    text-align: center;
    clip-path: polygon(0% 50%, 30% 0%, 100% 0%, 100% 100%, 30% 100%);
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    border-radius: 3px;
  }

  @each $band, $epc-band-color in $epc-colors {
    .epc-bar-#{$band} {
      background-color: $epc-band-color;
      color: color-contrast($epc-band-color);
      width: $epc-bar-base-width;
    }
    $epc-bar-base-width: $epc-bar-base-width + $epc-bar-base-increment;
    .epc-color-#{$band} {
      background-color: $epc-band-color;
      color: color-contrast($epc-band-color);
    }
  }

  .epc-scale-explained {
    color: $text-muted;
  }
}
