//
// EST charts
//

//
// EPC display component for tools
//
$epc-bar-height: 26px;
$epc-bar-base-width: 52px;
$epc-bar-base-increment: 26px;
$epc-color: $white;
$epc-bar-text-color: $white;
$epc-bar-text-size: $epc-bar-height * 2 / 3;

.epc-rating-chart {
  border-collapse: collapse !important;
  border-spacing: 0 !important;

  thead,
  tbody,
  tfoot,
  tr,
  td,
  th {
    border-style: none;
    border-width: 0px;
    border-collapse: collapse !important;
    border-spacing: 0 !important;
  }

  th {
    font-weight: 600;
    padding-bottom: 12px;
    &:nth-child(2) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  td {
    &:nth-child(2) {
      padding-left: 40px;
    }
    &:nth-child(3) {
      padding-left: 20px;
    }
  }

  .epc-rating-chart-bar {
    height: $epc-bar-height;
    padding: 0 8px 0 8px;
    margin: 1px 10px 1px 0;
    font-size: $epc-bar-text-size;
    font-weight: 600;
    float: left;
    border-radius: 3px;
    text-align: right;
  }

  @each $band, $epc-band-color in $epc-colors {
    .epc-rating-chart-bar-#{$band} {
      background-color: $epc-band-color;
      color: color-contrast($epc-band-color);
      width: $epc-bar-base-width;
    }
    $epc-bar-base-width: $epc-bar-base-width + $epc-bar-base-increment;
    .epc-color-#{$band} {
      background-color: $epc-band-color;
      color: color-contrast($epc-band-color);
    }
  }

  .epc-scale-explained {
    color: $text-muted;
  }
}

$epc-right-arrowhead: url("data:image/svg+xml,<svg viewBox='0 0 20 50' fill='none' preserveAspectRatio='meet' xmlns='http://www.w3.org/2000/svg'><path d='M0 0V50H4.3781C6.60938 50 8.65669 48.7639 9.69434 46.7903L19.0815 28.9356C20.2953 26.627 20.3067 23.8721 19.1121 21.5536L9.68328 3.25374C8.65383 1.25574 6.59325 0 4.34412 0H0Z' fill='black'/></svg>") !default;
$epc-right-fins: url("data:image/svg+xml,<svg viewBox='0 0 20 50' fill='none' preserveAspectRatio='meet' xmlns='http://www.w3.org/2000/svg'><path d='M20 0H3.13085C0.816158 0 -0.696176 2.32899 0.324117 4.32237L9.32849 21.9145C10.3245 23.8605 10.3246 26.1395 9.32849 28.0855L0.324118 45.6776C-0.696175 47.671 0.816159 50 3.13085 50H20V0Z' fill='black'/></svg>") !default;

$epc-left-arrowhead: url("data:image/svg+xml,<svg viewBox='0 0 20 50' fill='none' preserveAspectRatio='meet' xmlns='http://www.w3.org/2000/svg'><path d='M20 0V50H15.6219C13.3906 50 11.3433 48.7639 10.3057 46.7903L0.918491 28.9356C-0.295281 26.627 -0.306682 23.8721 0.887941 21.5536L10.3167 3.25374C11.3462 1.25574 13.4068 0 15.6559 0H20Z' fill='black'/></svg>") !default;
$epc-left-fins: url("data:image/svg+xml,<svg viewBox='0 0 20 50' fill='none' preserveAspectRatio='meet' xmlns='http://www.w3.org/2000/svg'><path d='M0 0H16.8692C19.1838 0 20.6962 2.32899 19.6759 4.32237L10.6715 21.9145C9.67545 23.8605 9.67545 26.1395 10.6715 28.0855L19.6759 45.6776C20.6962 47.671 19.1838 50 16.8691 50H0V0Z' fill='black'/></svg>") !default;

$epc-rating-height: 48px;
$epc-rating-appendix-width: $epc-rating-height * 20 / 50;

$epc-rating-height-sm: 28px;
$epc-rating-width-sm: 28px;
$epc-rating-appendix-width-sm: $epc-rating-height-sm * 20 / 50;

$epc-rating-height-lg: 70px;
$epc-rating-width-lg: 50px;
$epc-rating-appendix-width-lg: $epc-rating-height-lg * 20 / 50;

@mixin epc-rating-variants($direction: right, $has-fins: true, $has-arrowhead: true, $size: medium) {
  @if $direction == left {
    &:before {
      left: -($epc-rating-appendix-width);
      -webkit-mask-image: escape-svg($epc-left-arrowhead);
      mask-image: escape-svg($epc-left-arrowhead);
    }
    &:after {
      right: -($epc-rating-appendix-width);
      -webkit-mask-image: escape-svg($epc-left-fins);
      mask-image: escape-svg($epc-left-fins);
    }
  }

  @if $size == small {
    height: $epc-rating-height-sm;
    width: $epc-rating-width-sm;
    margin: 0 $epc-rating-appendix-width-sm 0 $epc-rating-appendix-width-sm;
    padding-top: 1px;
    font-size: 18px;
    font-weight: 600;
    &:before,
    &:after {
      height: $epc-rating-height-sm;
      width: $epc-rating-appendix-width-sm;
    }

    &:before {
      left: -($epc-rating-appendix-width-sm);
    }

    &:after {
      right: -($epc-rating-appendix-width-sm);
    }
  }

  @if $size == large {
    height: $epc-rating-height-lg;
    width: $epc-rating-width-lg;
    margin: 0 $epc-rating-appendix-width-lg 0 $epc-rating-appendix-width-lg;
    padding-top: 13px;
    font-size: 30px;
    font-weight: 600;
    &:before,
    &:after {
      height: $epc-rating-height-lg;
      width: $epc-rating-appendix-width-lg;
    }

    &:before {
      left: -($epc-rating-appendix-width-lg);
    }

    &:after {
      right: -($epc-rating-appendix-width-lg);
    }
  }
}

.epc-rating {
  position: relative;
  height: $epc-rating-height;
  width: 36px;
  margin: 0 20px 0 20px;
  padding-top: 6px;
  background-color: $epc-color-sap-band-a;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: white;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    height: $epc-rating-height;
    width: $epc-rating-appendix-width;
    background-color: $epc-color-sap-band-a;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: top right;
    -webkit-mask-size: 100% 100%;
    mask-repeat: no-repeat;
    mask-position: top right;
    mask-size: 100% 100%;
  }

  &:before {
    left: -($epc-rating-appendix-width);
    -webkit-mask-image: escape-svg($epc-right-fins);
    mask-image: escape-svg($epc-right-fins);
  }

  &:after {
    right: -($epc-rating-appendix-width);
    -webkit-mask-image: escape-svg($epc-right-arrowhead);
    mask-image: escape-svg($epc-right-arrowhead);
  }
}

@each $band, $epc-color in $epc-colors {
  .epc-rating-#{$band} {
    background-color: $epc-color;
    color: color-contrast($epc-color);
    &:before,
    &:after {
      background-color: $epc-color;
    }
  }
}

.epc-rating-left {
  @include epc-rating-variants(left, true, true);
  &.epc-rating-no-fins {
    margin-right: 0;
    padding-right: 10px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    &:after {
      display: none;
    }
    &.epc-rating-sm {
      padding-right: 6px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    &.epc-rating-lg {
      padding-right: 15px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

.epc-rating-right {
  &.epc-rating-no-fins {
    margin-left: 0;
    padding-left: 10px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    &:before {
      display: none;
    }
    &.epc-rating-sm {
      padding-left: 6px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    &.epc-rating-lg {
      padding-left: 15px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
}

.epc-rating-sm {
  @include epc-rating-variants(false, true, true, small);
}

.epc-rating-lg {
  @include epc-rating-variants(false, true, true, large);
}

.epc-rating-chart-horizontal {
  display: flex !important;
  .epc-rating {
    margin: 0 16px 0 16px !important;
  }
  .epc-rating-sm {
    margin: 0 10px 0 10px !important;
  }
  .epc-rating-lg {
    margin: 0 23px 0 22px !important;
  }
}
