// Grey Scale Colors
$grey-50: #F4F5F6;
$grey-100: #E8EBED;
$grey-200: #D2D6DB;
$grey-300: #BCC2C9;
$grey-400: #A7ADB6;
$grey-500: #909BA6;
$grey-600: #707A86;
$grey-700: #575C65;
$grey-800: #363D44;
$grey-900: #1B1F22;
$grey-950: #0C0F11;

//Grassy Green
$grassy-green-50: #F1F7ED;
$grassy-green-100: #DFEED8;
$grassy-green-200: #BFDDB1;
$grassy-green-300: #A0CC89;
$grassy-green-400: #83BD66;
$grassy-green-500: #65A346;

//Honey Yellow
$honey-yellow-50: #FFF7E5;
$honey-yellow-100: #FFEECC;
$honey-yellow-200: #FFDF9E;
$honey-yellow-300: #FFCE6B;
$honey-yellow-400: #FFBE3D;
$honey-yellow-500: #FFAF0A;

//Clear Sky Blue
$clear-sky-blue-50: #F7FCFC;
$clear-sky-blue-100: #F0F9FA;
$clear-sky-blue-200: #DDF1F3;
$clear-sky-blue-300: #CEEBEE;
$clear-sky-blue-400: #BBE3E7;
$clear-sky-blue-500: #AADCE1;

//Deep Rose
$deep-rose-50: #FCE3E9;
$deep-rose-100: #F9C8D3;
$deep-rose-200: #F390A7;
$deep-rose-300: #EE597B;
$deep-rose-400: #E82150;
$deep-rose-500: #B7133A;

//Deep Blue
$deep-blue-50: #E1EDFA;
$deep-blue-100: #C2DBF5;
$deep-blue-200: #81B5E9;
$deep-blue-300: #4491DF;
$deep-blue-400: #1F6BB7;
$deep-blue-500: #15487A;


$body-color: $grey-900;
$danger: $deep-rose-500;
$danger-bg: $deep-rose-100;
$warning: $honey-yellow-400;
$warning-bg: $honey-yellow-100;
$success: $grassy-green-400;
$success-bg: $grassy-green-100;
$neutral: $grey-700;
$info-bg: $clear-sky-blue-200;