$year-chev: url("data:image/svg+xml,%3Csvg viewBox='0 0 9 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.20492 2.46532e-07L0.794922 1.41L5.37492 6L0.79492 10.59L2.20492 12L8.20492 6L2.20492 2.46532e-07Z' fill='%231B1F22'/%3E%3C/svg%3E") !default;
$month-chev: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.49001 1.30959e-06L6.08001 1.41L10.66 6L6.08001 10.59L7.49001 12L13.49 6L7.49001 1.30959e-06Z' fill='%231B1F22'/%3E%3Cpath d='M1.40996 2.46532e-07L-4.30665e-05 1.41L4.57996 6L-4.46716e-05 10.59L1.40995 12L7.40996 6L1.40996 2.46532e-07Z' fill='%231B1F22'/%3E%3C/svg%3E") !default;
$year-chev-white: url("data:image/svg+xml,%3Csvg viewBox='0 0 9 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.20492 2.46532e-07L0.794922 1.41L5.37492 6L0.79492 10.59L2.20492 12L8.20492 6L2.20492 2.46532e-07Z' fill='%23ffffff'/%3E%3C/svg%3E") !default;
$month-chev-white: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.49001 1.30959e-06L6.08001 1.41L10.66 6L6.08001 10.59L7.49001 12L13.49 6L7.49001 1.30959e-06Z' fill='%23ffffff'/%3E%3Cpath d='M1.40996 2.46532e-07L-4.30665e-05 1.41L4.57996 6L-4.46716e-05 10.59L1.40995 12L7.40996 6L1.40996 2.46532e-07Z' fill='%231B1F22'/%3E%3C/svg%3E") !default;


.sr-only {
  position: absolute;
  top: -2000em;
  left: -3000em;
}

.datepicker {
  margin-top: 1em;
  position: relative;
  @include media-breakpoint-down(sm) {
    position: static;
  }
}

.datepicker .group {
  display: grid;
  grid-template-columns: 1fr 50px;
  width: 350px;
  grid-gap: 10px;
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.datepicker .desc {
  font-weight: 400;
  color: $grey-700;
  width: 350px;
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.datepicker label {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  color: $grey-900;
}

.datepicker input {
  margin: 0;
  height: 50px;
  padding: 0px 10px;
  background-color: white;
  color: $grey-900;
  border: 1px solid $grey-800;
  border-radius: $border-radius;
  font-size: 1rem;
  font-weight: 400;
  &::placeholder {
    color: $grey-700;
  }
}

.datepicker button.icon {
  position: relative;
  margin: 0;
  padding: 2px 4px 4px 4px;
  background-color: $grey-900;
  border-radius: 5px;
}

.datepicker-dialog {
  position: absolute;
  width: 320px;
  clear: both;
  // border: 3px solid hsl(216deg 80% 51%);
  margin-top: 0.15em;
  border-radius: 5px;
  padding: 0;
  background-color: #fff;
  border: 1px solid $grey-500;
  border-radius: 6px;
  box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.3);
  @include media-breakpoint-down(sm) {
    left: calc((100vw - 320px)/2);
  }
}

.datepicker-dialog .header {
  cursor: default;
  // background-color: hsl(216deg 80% 51%);
  padding: 16px 20px 7px 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: $grey-900;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.datepicker-dialog h2 {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  color: $grey-900;
  text-transform: none;
  font-weight: bold;
  border: none;
}

.datepicker-dialog button {
  border-style: none;
  background: transparent;
}

.datepicker-dialog button::-moz-focus-inner {
  border: 0;
}

.datepicker-dialog .dates {
  width: 320px;
}

.datepicker-dialog .prev-year,
.datepicker-dialog .prev-month,
.datepicker-dialog .next-month,
.datepicker-dialog .next-year {
  padding: 3px;
  width: 40px;
  height: 40px;
  background-size: auto 12px;
  background-position: center;
  background-repeat: no-repeat;
  &:hover {
    background-color: $deepblue-50;
    border: none;
  }
  &:active, &:focus {
    background-color: $grey-800;
    border: none;
  }
}

.datepicker-dialog .prev-year {
  background-image: $year-chev;
  transform: rotate(180deg);
  &:active, &:focus {
    background-image: $year-chev-white;
  }
}

.datepicker-dialog .prev-month {
  background-image: $month-chev;
  transform: rotate(180deg);
  &:active, &:focus {
    background-image: $month-chev-white;
  }
}

.datepicker-dialog .next-month {
  background-image: $month-chev;
  &:active, &:focus {
    background-image: $month-chev-white;
  }
}

.datepicker-dialog .next-year {
  background-image: $year-chev;
  &:active, &:focus {
    background-image: $year-chev-white;
  }
}

.datepicker-dialog .prev-year:focus,
.datepicker-dialog .prev-month:focus,
.datepicker-dialog .next-month:focus,
.datepicker-dialog .next-year:focus {
  padding: 2px;
  border: 2px solid $grey-900;
  border-radius: 4px;
  outline: 0;
}

.datepicker-dialog .prev-year:hover,
.datepicker-dialog .prev-month:hover,
.datepicker-dialog .next-month:hover,
.datepicker-dialog .next-year:hover {
  border-radius: 4px;
}

.datepicker-dialog .dialog-ok-cancel-group {
  text-align: right;
  margin: 0;
  border-top: 1px solid $grey-300;
  padding: 11px 20px;
}

.datepicker-dialog .dialog-ok-cancel-group button {
  padding: 7px 27px;
  margin-left: 10px;
  background-color: $grey-900;
  font-size: 1rem;
  color: white;
  outline: none;
  border-radius: 5px;
  border: 1px solid $grey-900;
  font-weight: 600;
  &:hover {
    background-color: $deepblue-50;
    border: 1px solid $deepblue-50;
    color: $grey-900;
  }
  &:first-of-type {
    background-color: white;
    color: $grey-900;
    &:hover {
      background-color: $deepblue-50;
      color: $grey-900;
    }
  }
}

.datepicker-dialog .dialog-button:focus {
  border: 2px solid black;
}

.datepicker-dialog .fa-calendar-alt {
  // color: hsl(216deg 89% 51%);
}

.datepicker-dialog .month-year {
  display: inline-block;
  width: auto;
  text-align: center;
  padding: 0 10px;
}

.datepicker-dialog table.dates {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
  border: none;
  border-collapse: separate;
}

.datepicker-dialog table.dates th,
.datepicker-dialog table.dates td {
  text-align: center;
  background: white;
  color: black;
  border: none;
  &.disabled, &:focus.disabled, &:hover.disabled {
    background-color: #fff;
  }
}

.datepicker-dialog table thead {
  margin-bottom: 17px;
}

.datepicker-dialog table.dates th {
  font-weight: 400;
  font-size: 0.94rem;
  padding-bottom: 17px;
}

.datepicker-dialog table.dates tr {
  border: 1px solid black;
}

.datepicker-dialog table.dates td {
  padding: 3px;
  margin: 0;
  line-height: inherit;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  font-size: 1rem;
  background: white;
}

.datepicker-dialog table.dates td.disabled {
  padding: 2px 2px 0 2px;
  border: none;
  height: 41px;
  width: 41px;
}

.datepicker-dialog table.dates td:hover {
  padding: 0;
  background-color: $deepblue-50;
  color: $grey-900;
}
.datepicker-dialog table.dates td:focus {
  box-shadow: none;
  background-color: $grey-800;
  color: white;
}

.datepicker-dialog table.dates td[tabindex="0"]:focus {
  color: white;
}

.datepicker-dialog table.dates td:not(.disabled):hover {
  padding: 2px 2px 0 2px;
}

.datepicker-dialog table.dates td[aria-selected] {
  padding: 1px;
  position: relative;
  font-weight: 600;
  &:focus {
    &:after {
      background-color: white;
    }
  }
  &:after {
    content: "";
    position: absolute;
    left: calc(50% - 2px);
    bottom: 4px;
    width: 4px;
    height: 4px;
    background-color: $grey-900;
    border-radius: 100%;
  }
}

// .datepicker-dialog table.dates td[aria-selected]:focus {
//   padding: 1px;
//   border: 2px solid rgb(100 100 100);
// }

.datepicker-dialog table.dates td[tabindex="0"] {
  // background-color: hsl(216deg 80% 51%);
  color: $grey-900;
}

.datepicker-dialog .dialog-message {
  padding: 0 20px;
  margin: 10px 0 15px 0;
  color: $grey-900;
  font-size: 0.82rem;
}
