//
// EST Header for Digital Tools.
//

.est-header {

}

//
// EST Header variants background colour definitions.
//

@each $name, $colour, $accent in $est-brand-headers {
  .est-header-#{$name} {
    .est-header-island {
      background-color: $colour;
      padding-top: 15px;
      height: 160px;
    }
    .est-primary-navigation {
      background-color: $accent;
      .dropdown-menu-hamburger {
        background-color: $accent;
      }
    }
  }
}

//
// Brand area including logo and multiple partner logos.
//

.est-header-brand {
  padding-top: 55px;
  .est-logo {
    display: block;
    height: 40px;
    width: auto;
    float: left;
    margin-right: 25px;
    svg, img {
      height: 100%;
      width: auto;
      color: #000;
    }
  }
  .est-partner-logo {
    display: block;
    height: 40px;
    width: auto;
    float: left;
    margin-right: 25px;

    img,
    svg {
      height: 100%;
      width: auto;
    }
  }

}

//
// Programme name and tagline definitions.
// Note: tagline element (div.est-programme-tagline) is optional.
//

.est-programme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 100%;
  margin-top: 6px;
  .est-programme-name {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
  }
  .est-programme-tagline {
    /* Tagline indent optical adjustment */
    padding-left: 2px;
    font-size: 13px;
    font-weight: 500;
    display: none;
  }
}

//
// Utility area links
//

.est-header-utilities {
  margin: 0 0 0 auto;
  padding: 0;
  width: 100%;
  li {
    display: block;
    float: right;
    padding: 0;
    font-weight: 600;
    a {
      text-decoration: none;
      color: #000;
      padding: 5px 12px;
      &:visited {
        color: #000;
      }
      &:hover {
        color: #000;
        text-decoration: underline;
      }
      &:active {
        color: #000;
      }
      &:focus {
        color: #000;
        outline: #000;
      }
    }
  }
}

//
// Primary navigation
//

.est-primary-navigation {
  text-align: right;
  height: 54px;
  div.container {
    position: relative;
    > ul {
      margin: 0;
      padding: 0;
      height: 54px;
      overflow: hidden;

      li {
        display: inline-block;
        padding: 0;
        margin: 0 3px 0 3px;
        height: 54px;
        &.active {
          border-bottom: 4px solid #000;
        }
        a {
          font-weight: 600;
          text-decoration: none;
          color: #000;
          padding: 15px 6px 11px 6px;
          display: inline-block;
          border-bottom: 4px solid transparent;
          &:visited {
            color: #000;
          }
          &:hover {
            color: #000;
            //border-bottom: 4px solid #000;
          }
          &:active {
            color: #000;
          }
          &:focus {
            color: #000;
            outline: #000;
          }

        }

        &:first-of-type {
          margin-left: 0;
        }

        &:last-of-type {
          margin-right: 0;
        }


      }

      &.right-margin {
        margin-right: 30px;
      }
    }


  }

}

//
// Type colour adjustments for Deep Blue and Deep Rose themes.
// Most optimal contrast is achieveved with white foreground.
//

.est-header-grey,
.est-header-deep-blue,
.est-header-deep-rose {

  .est-header-brand {
    color: #fff;
    .est-logo {
      svg {
        color: #fff;
      }
    }
  }
  .est-header-utilities {
    li {
      a {
        color: #fff !important;
        &:visited {
          color: #fff !important;
        }
        &:hover {
          color: #fff !important;
        }
        &:active {
          color: #fff !important;
        }
        &:focus {
          color: #fff !important;
        }
      }
    }
  }
}

/*
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;
*/

.est-primary-navigation {

  div.container {
    > ul {
      li {
        &:before {
          content: none;
        }
        &.home-b {
          display: none;
        }
        a svg {
          margin-top: -3px;
      }

      }
    }
  }
}

$primary-nav-height: 55px;

$primary-nav-li-padding-top: 12px;


@media (min-width: map-get($grid-breakpoints, "sm")) {
  .est-header-island {
    height: 160px;
  }

  .est-primary-navigation {
    div.container {
      > ul li {
        height: 55px;

        a {
          padding: 6px 12px 0px 12px;
          margin: 10px 0px 0px 0px;
        }
        a:hover {
          text-decoration: underline;
        }

        &.home-a {
          display: none;
        }

        &.home-b {
          display: inline-block;
        }
      }
    }

  }

}

@media (min-width: map-get($grid-breakpoints, "md")) {
  .est-header-brand {
    padding-top: 35px;
    .est-logo {
      height: 60px;
      margin-right: 40px;
    }
    .est-partner-logo {
      height: 60px;
      margin-right: 40px;
    }
  }

  .est-programme {
    margin-top: -5px;
    .est-programme-name {
      font-size: 27px;
      line-height: 30px;
      margin-top: 10px;
    }
    .est-programme-tagline {
      /* Tagline indent optical adjustment */
      padding-left: 2px;
      font-size: 14px;
      font-weight: 500;
      display: block;
    }
  }

}

@media (min-width: map-get($grid-breakpoints, "lg")) {
  .est-programme {
    .est-programme-tagline {
      font-size: 15px;
    }
  }
}

@media (min-width: map-get($grid-breakpoints, "xl")) {

}

@media (min-width: map-get($grid-breakpoints, "xxl")) {

}


.hamburger-dropdown-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
}

.hamburger {
  height: 50px;
  margin: 2px 5px 2px 5px;
  padding: 8px 6px 8px 6px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  color: #000;
  &:focus {
    // box-shadow: 0 0 0 0.25rem;
    // background-color:rgba(0, 0, 0, 0.1);
  }
  &.show {
    background-color:rgba(0, 0, 0, 0.05);
  }
  svg {
    color: #000;
  }
}


.dropdown-menu-hamburger {
  padding: 10px 0;
  border-radius: 6px;
  // border: 1px solid #333;
  border: none;
  @include box-shadow(0 6px 12px rgba(0, 0, 0, .175));
  a {
    font-weight: 600;
    padding: 10px 20px;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;

    &:visited {
      color: #000;
    }
    &:hover {
      color: #000;
      //border-bottom: 4px solid #000;
    }
    &:active {
      color: #000;
    }
    &:focus {
      color: #000;
      outline: #000;
    }
    &.active {
      // border-bottom: 4px solid #000;
    }
  }

}