//Input Mixins

@mixin input-style() {
  border: $border-width-1 solid $body-color;
  border-radius: $border-radius-reg;
  padding: 11px;
  @include body-style($b1-size, $b1-line-height);
  &::placeholder {
    color: $grey-700;
  }
  &:focus {
    border: $border-width-1 solid $body-color;
    box-shadow: 0px 0px 0px 4px $grey-200;
  }
}

.est-field-row {
  margin-bottom: 20px;
}

.est-label {
  @include heading-style($h6-size);
  span {
    color: $danger;
  }
  + .est-input, + .est-select {
    margin-top: 1em;
  }
}

.est-help-text {
  @include body-style($b1-size, $b1-line-height);
  margin-top: 6px;
  color: $grey-700;
  + .est-input {
    margin-top: 10px;
  }
}

.est-input {
  @extend .form-control;
  @include input-style();
}

textarea {
  &.est-input {
    min-height: 150px;
  }
}