// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s, `<ul>`s or `<ol>`s.

.nav {
  // scss-docs-start nav-css-vars
  --#{$prefix}nav-link-padding-x: #{$nav-link-padding-x};
  --#{$prefix}nav-link-padding-y: #{$nav-link-padding-y};
  @include rfs($nav-link-font-size, --#{$prefix}nav-link-font-size);
  --#{$prefix}nav-link-font-weight: #{$nav-link-font-weight};
  --#{$prefix}nav-link-color: #{$nav-link-color};
  --#{$prefix}nav-link-hover-color: #{$nav-link-hover-color};
  --#{$prefix}nav-link-disabled-color: #{$nav-link-disabled-color};
  // scss-docs-end nav-css-vars

  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  @include font-size(var(--#{$prefix}nav-link-font-size));
  font-weight: var(--#{$prefix}nav-link-font-weight);
  color: $nav-link-color;
  text-decoration: if($link-decoration == none, null, none);
  @include transition($nav-link-transition);

  @include media-breakpoint-up(lg) {
    padding: 0;
    margin: 0 16px;
  }

  @include media-breakpoint-down(lg) {
    padding: 10px 0;
    margin: 0;
  }

  &.nav-link-y-padding {
    padding: 20px 16px;
  }

  &.nav-link-sm {
    font-size: $font-size-sm;
  }

  &:hover,
  &:focus {
    color: $grey-900;
    text-decoration: underline;
  }

  // Disabled state lightens text
  &.disabled {
    color: var(--#{$prefix}nav-link-disabled-color);
    pointer-events: none;
    cursor: default;
  }
}

//
// Tabs
//

.nav-tabs {
  // scss-docs-start nav-tabs-css-vars
  --#{$prefix}nav-tabs-border-width: #{$nav-tabs-border-width};
  --#{$prefix}nav-tabs-border-color: #{$nav-tabs-border-color};
  --#{$prefix}nav-tabs-border-radius: #{$nav-tabs-border-radius};
  --#{$prefix}nav-tabs-link-hover-border-color: #{$nav-tabs-link-hover-border-color};
  --#{$prefix}nav-tabs-link-active-color: #{$nav-tabs-link-active-color};
  --#{$prefix}nav-tabs-link-active-bg: #{$nav-tabs-link-active-bg};
  --#{$prefix}nav-tabs-link-active-border-color: #{$nav-tabs-link-active-border-color};
  // scss-docs-end nav-tabs-css-vars

  border-bottom: var(--#{$prefix}nav-tabs-border-width) solid var(--#{$prefix}nav-tabs-border-color);

  .nav-link {
    margin-bottom: calc(-1 * var(--#{$prefix}nav-tabs-border-width)); // stylelint-disable-line function-disallowed-list
    background: none;
    border: var(--#{$prefix}nav-tabs-border-width) solid transparent;
    @include border-top-radius(var(--#{$prefix}nav-tabs-border-radius));

    &:hover,
    &:focus {
      // Prevents active .nav-link tab overlapping focus outline of previous/next .nav-link
      isolation: isolate;
      border-color: var(--#{$prefix}nav-tabs-link-hover-border-color);
    }

    &.disabled,
    &:disabled {
      color: var(--#{$prefix}nav-link-disabled-color);
      background-color: transparent;
      border-color: transparent;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    color: var(--#{$prefix}nav-tabs-link-active-color);
    background-color: var(--#{$prefix}nav-tabs-link-active-bg);
    border-color: var(--#{$prefix}nav-tabs-link-active-border-color);
  }

  .dropdown-menu {
    // Make dropdown border overlap tab border
    margin-top: calc(-1 * var(--#{$prefix}nav-tabs-border-width)); // stylelint-disable-line function-disallowed-list
    // Remove the top rounded corners here since there is a hard edge above the menu
    @include border-top-radius(0);
  }
}


//
// Pills
//

.nav-pills {
  // scss-docs-start nav-pills-css-vars
  --#{$prefix}nav-pills-border-radius: #{$nav-pills-border-radius};
  --#{$prefix}nav-pills-link-active-color: #{$nav-pills-link-active-color};
  --#{$prefix}nav-pills-link-active-bg: #{$nav-pills-link-active-bg};
  // scss-docs-end nav-pills-css-vars

  .nav-link {
    background: none;
    border: 0;
    @include border-radius(var(--#{$prefix}nav-pills-border-radius));

    &:disabled {
      color: var(--#{$prefix}nav-link-disabled-color);
      background-color: transparent;
      border-color: transparent;
    }
  }

  .nav-link.active,
  .show > .nav-link {
    color: var(--#{$prefix}nav-pills-link-active-color);
    @include gradient-bg(var(--#{$prefix}nav-pills-link-active-bg));
  }
}


//
// Justified variants
//

.nav-fill {
  > .nav-link,
  .nav-item {
    flex: 1 1 auto;
    text-align: center;
  }
}

.nav-justified {
  > .nav-link,
  .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
  }
}

.nav-fill,
.nav-justified {
  .nav-item .nav-link {
    width: 100%; // Make sure button will grow
  }
}


// Tabbable tabs
//
// Hide tabbable panes to start, show them when `.active`

.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}

.full-width-meganav {
  position: fixed;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
  margin-top: 0;
  padding: 1rem 0;
  background-color: #fff; // Adjust as needed
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Optional: adds a shadow
}

.navbar-nav .nav-item.dropdown {
  position: static;
}

.navbar-green {
  position: relative;
}

#mobile-search-trigger {
    text-decoration: none;
    display: inline-block;
    width: fit-content;
}

#mobile-search-bar {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.site-header {
  position: relative;
}

.mobile-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: $grey-100;
  button {
    border: none;
    background-color: transparent;
  }
}

.rm-padding-on-mobile {
  @include media-breakpoint-down(lg) {
    padding-left: 0;
    padding-right: 0;
  }
}

.px-mobile {
  @include media-breakpoint-down(lg) {
    padding: 0 10px;
    margin: 0;
  }
}

.header-padding-wrap {
  padding: 0 20px;
  @include media-breakpoint-down(lg) {
    padding: 0;
  }
}

.alignment-fix {
  padding-left: 90px;
}

.main-nav-white {
  background-color: $grey-50;
}

.main-nav-deepblue {
  background-color: $deepblue-50;
}

.main-nav-grassygreen {
  background-color: $grassygreen-50;
}

.main-nav-honeyyellow {
  background-color: $honeyyellow-50;
}

.main-nav-deeprose {
  background-color: $deeprose-50;
}

.main-nav-clearskyblue {
  background-color: $clearskyblue-50;
}

.header-product-white {
  background-color: $white;
}

.header-product-deepblue {
  background-color: $deepblue;
}

.header-product-deeprose {
  background-color: $deeprose;
}

.header-product-grassygreen {
  background-color: $grassygreen;
}

.header-product-honeyyellow {
  background-color: $honeyyellow;
}

.header-product-clearskyblue {
  background-color: $clearskyblue;
}


.product-title-description {
  @include media-breakpoint-down(lg) {
    display: none;
  }
  .navbar-title {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    display: block;
  }
  .navbar-subtitle {
    font-size: 0.82rem;
    display: block;
  }
}

.main-nav-product.navbar-expand-lg {
  padding: 15px 0;
}

.header-product {
  .nav .nav-item .nav-link {
    padding: 8px 10px;
    margin: 0;
  }
}

#productNavigation {
  .navbar-nav {
    margin-top: 0;
  }
}

.product-text-white {
  * {
    color: $white;
  }
}

