// Disable animation if transitions are disabled

// scss-docs-start progress-keyframes
@if $enable-transitions {
  @keyframes progress-bar-stripes {
    0% { background-position-x: $progress-height; }
  }
}
// scss-docs-end progress-keyframes

.progress {
  // scss-docs-start progress-css-vars
  --#{$prefix}progress-height: #{$progress-height};
  @include rfs($progress-font-size, --#{$prefix}progress-font-size);
  --#{$prefix}progress-bg: #{$progress-bg};
  --#{$prefix}progress-border-radius: #{$progress-border-radius};
  --#{$prefix}progress-box-shadow: #{$progress-box-shadow};
  --#{$prefix}progress-bar-color: #{$progress-bar-color};
  --#{$prefix}progress-bar-bg: #{$progress-bar-bg};
  --#{$prefix}progress-bar-transition: #{$progress-bar-transition};
  // scss-docs-end progress-css-vars

  display: flex;
  height: var(--#{$prefix}progress-height);
  overflow: hidden; // force rounded corners by cropping it
  @include font-size(var(--#{$prefix}progress-font-size));
  background-color: var(--#{$prefix}progress-bg);
  @include border-radius(var(--#{$prefix}progress-border-radius));
  box-shadow: none;
  &.progress-reading {
    height: $progress-reading-height;
    border-radius: $progress-reading-border-radius;
  }
  &.progress-steps {
    height: unset;
    width: 100%;
    display: block;
    background-color: $progress-steps-bg;
  }
}

.progress-steps-grid {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 15px;
  margin-bottom: 20px;
  width: 100%;
  li {
    list-style-type: none;
  }
  @include media-breakpoint-down(sm) {
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    gap: 4px;
  }
}

.progress-step {
  .progress-bar {
    height: 0.82rem;
    border-radius: $progress-step-border-radius;
    @include media-breakpoint-down(sm) {
      height: 11px;
    }
    &.empty {
      background-color: $progress-step-empty-bg;
    }
  }
}

.step-label {
  margin-top: $progress-step-label-margin-top;
  margin-left: $progress-step-label-margin-left;
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.main-label {
  margin-top: 28px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.position-number {
  font-size: 1rem;
  font-weight: 600;
  color: $grey-700;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .circle {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: $grey-800;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 5px;
    padding-top: 0.18rem;
  }
}

.position-label {
  color: $grey-900;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 15px;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: var(--#{$prefix}progress-bar-color);
  text-align: center;
  white-space: nowrap;
  background-color: var(--#{$prefix}progress-bar-bg);
  @include transition(var(--#{$prefix}progress-bar-transition));
}

.progress-bar-striped {
  @include gradient-striped();
  background-size: var(--#{$prefix}progress-height) var(--#{$prefix}progress-height);
}

@if $enable-transitions {
  .progress-bar-animated {
    animation: $progress-bar-animation-timing progress-bar-stripes;

    @if $enable-reduced-motion {
      @media (prefers-reduced-motion: reduce) {
        animation: none;
      }
    }
  }
}
