//
// Headings
//
.h1 {
  @extend h1;
}

.h2 {
  @extend h2;
}

.h3 {
  @extend h3;
}

.h4 {
  @extend h4;
}

.h5 {
  @extend h5;
}

.h6 {
  @extend h6;
}


.lead {
  @include font-size($lead-font-size);
  font-weight: $lead-font-weight;
}

// Type display classes
@each $display, $font-size in $display-font-sizes {
  .display-#{$display} {
    @include font-size($font-size);
    font-family: $display-font-family;
    font-style: $display-font-style;
    font-weight: $display-font-weight;
    line-height: $display-line-height;
  }
}

//
// Emphasis
//
.small {
  @extend small;
}

.mark {
  @extend mark;
}

//
// Lists
//

ul:not([class]), ul.list-square {
  list-style: none;
  padding-left: 0;
  li {
    padding-left: 1.2em;
    position: relative;
    margin-bottom: 0.7rem;
    line-height: 1.5;
    &:before {
      content: '';
      width: 6px;
      height: 6px;
      background-color: $primary;
      border-radius: 100%;
      display: inline-block;
      position: absolute;
      top: 0.75em;
      left: 0;
      transform: translateY(-50%);
    }
    ul {
      margin-top: 0.7rem;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}

ul.list-square li:before {
  width: 8px;
  height: 8px;
  border-radius: 0;
}

.list-unstyled {
  @include list-unstyled();
}

// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled();
}
.list-inline-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $list-inline-padding;
  }
}


//
// Misc
//

// Builds on `abbr`
.initialism {
  @include font-size($initialism-font-size);
  text-transform: uppercase;
}

// Blockquotes
.blockquote {
  margin-bottom: $blockquote-margin-y;
  @include font-size($blockquote-font-size);

  > :last-child {
    margin-bottom: 0;
  }
}

.blockquote-footer {
  margin-top: -$blockquote-margin-y;
  margin-bottom: $blockquote-margin-y;
  @include font-size($blockquote-footer-font-size);
  color: $blockquote-footer-color;

  &::before {
    content: "\2014\00A0"; // em dash, nbsp
  }
}

//
// Links
//

@mixin active-state() {
  border: 2px solid transparent;
  border-radius: $border-radius-sm;
  &:active {
    border-color: var(--#{$prefix}btn-active-border-color);
    box-shadow: $btn-active-box-shadow;
  }
}

.cta-link {
  display: inline-block;
  text-decoration: none;
  @include active-state();
}

.arrow-link {
  position: relative;
  text-decoration: none;
  &:after {
    background-image: $card-arrow-link-img;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    position: relative;
    display: inline-block;
    margin-left: 10px;
    width: 0.88rem;
    height: 0.73rem;
  }
}
