.hero {
  display: flex;
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-gap: 0;
  min-height: 50vh;
  margin: 0;
  @include media-breakpoint-down(sm) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.hero-left {
  padding: 20vh 40px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @include media-breakpoint-down(sm) {
    padding: 48px 40px;
  }
  &.honeyyellow {
    background-color: $honeyyellow;
  }
  &.deepblue {
    background-color: $deepblue;
  }
  &.grassygreen {
    background-color: $grassygreen;
  }
  .group {
    position: relative;
    display: block;
    width: 94%;
    max-width: 600px;
    h1 {
      font-size: 2.5rem;
      margin: 20px 0;
    }
    .description {
      font-size: 1.25rem;
      line-height: 1.2;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
}

.hero-right {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include media-breakpoint-down(sm) {
    flex: 0 0 375px;
  }
  @include media-breakpoint-down(sm) {
    &.switch-container.sq-container--100px.sq-pos--50::before, &.switch-container.sq-container--100px.sq-pos--50::after {
      height: 60px;
      bottom: 0;
      top: unset;
      width: calc(50% - (65px / 2));
    }
    &.switch-container.sq-container--100px.sq-pos--50::after {
      left: unset;
      right: 0;
    }
    &.switch-container.sq-container--100px.sq-left .square {
      bottom: 27px;
      width: 65px;
      height: 65px;
      left: calc(50% - (65px / 2));
      top: unset;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 0px;
    }
    &.sq-container--100px.sq-container--trans.sq-left .square .corner {
      top: unset;
      bottom: -60px;
      left: calc(50% - 33.5px);
      transform: rotate(-90deg);
      &:first-child {
        left: calc(50% + 23.5px);
        transform: rotate(180deg);
      }
    }
  }
}