.content-body-icon {
    width: 100%;
    @include media-breakpoint-up(lg) {
      width: 720px;
    }
}

.icon-demo {
  background-color: #f8f9fa;
  background-image: radial-gradient(circle, #ccc 1px, rgba(0,0,0,0) 1px);
  background-size: 15px 15px;
  border: 1px solid #dee2e6;
  padding: 34px;
  svg {
    width: 150px;
    height: 150px;
    display: inline-block;
    vertical-align: 0 !important;
  }
}

.icon-sample-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 35px;
}

.icon-sample-grid-empty {
  width: 100%;
  background-color: $off-white;
  border-radius: 6px;
  text-align: center;
  padding: 48px 0;
  svg {
    width: 32px;
    height: 32px;
    margin-top: 10px;
  }
}

.icon-sample {
  vertical-align: -.125em;
  color: $body-color;
  text-decoration: none !important;
  width: 164.5px;
}

a.icon-sample:hover svg {
  color: $deepblue;
}

a.icon-sample:hover .icon-sample-class {
  color: $deepblue;
}

.icon-sample-preview {
  text-align: center !important;
  background-color: $off-white;
  border-radius: 6px;
  padding: 25px 0;
  width: 165px;
}

.icon-sample-preview svg {
  width: 32px;
  height: 32px;
  vertical-align: -.125em;
  color: $body-color;
}

.icon-sample-preview.pictogram svg {
  width: 88px;
  height: 88px;
}

.icon-sample-class {
  font-size: $small-font-size;
  color: $text-muted;
  text-decoration: none !important;
  text-align: center !important;
  padding-top: 10px;
}

.esti {
  display: inline-block;
  vertical-align: -.125em;
  fill: currentcolor;
  width: 1em;
  height: 1em;
}

//
// SVG Sprite Generator
//

$sprite-item-width: 84px;
$sprite-item-height: $sprite-item-width;
$sprite-item-border: 4px;
$sprite-item-spacing: 12px;
$sprite-item-svg-size: 32px;

$sprite-item-padding: ($sprite-item-width - ($sprite-item-border * 2) - $sprite-item-svg-size) / 2;

.sprite-icon-grid {
  @include clearfix();
}

.sprite-icon-item {
  width: $sprite-item-width;
  height: $sprite-item-height;
  margin-right: $sprite-item-spacing;
  margin-bottom: $sprite-item-spacing;
  padding: $sprite-item-padding;
  float: left;
  border-radius: 6px;
  border: $sprite-item-border solid $white;
  svg {
    width: $sprite-item-svg-size;
    height: $sprite-item-svg-size;
  }
  &:hover {
    background-color: $gray-900;
    border: $sprite-item-border solid $gray-900;
    cursor: pointer;
    svg {
      color: $white;
    }
  }
  &.sprite-icon-item-selected {
    background-color: $white;
    border: $sprite-item-border solid $deeprose-600;
    &:hover {
      background-color: $white;
      svg {
        color: $gray-900;
      }
    }
  }
}


.sprite-config-drop-area {
  border: 2px dashed #ccc;
  padding: 12px;
  width: 100%;
  text-align: center;
  font-size: $small-font-size;
  color: $text-muted;
  margin: 0 0 20px 0;
  border-radius: 12px;
  &.hover {
    border-color: $gray-900;
    color: $gray-900;
    background-color: $off-white;
  }

}
