.content-page {
  h1 {
    margin-left: -2px;
  }
}

$type-spacer: 8px;

.content-body {
  > p {
    width: 100%;
    @include media-breakpoint-up(lg) {
      width: 720px;
    }
  }
  > ul {
    width: 100%;
    @include media-breakpoint-up(lg) {
      width: 720px;
    }
    li {
      padding-bottom: 5px;
      margin-bottom: 0px;
    }
  }
  h2 {
    margin-top: $type-spacer * 7;
    margin-bottom: $type-spacer * 4;
    margin-block-end: $type-spacer * 4;
  }
  h3 {
    margin-top: $type-spacer * 4;
    margin-bottom: $type-spacer * 2;
    margin-block-end: $type-spacer * 2;
  }
  h4 {
    margin-top: $type-spacer * 4;
    margin-bottom: $type-spacer * 2;
    margin-block-end: $type-spacer * 2;
  }


}