//
// Form text
//

.form-text {
  margin-bottom: $form-text-margin-bottom;
  @include font-size($form-text-font-size);
  font-style: $form-text-font-style;
  font-weight: $form-text-font-weight;
  color: $form-text-color;
}
