<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>

  {% include ds-site-header.html %}

  <div class="container">
    <main style="min-height: 70vh">

      <div class="row d-lg-flex d-block">
        <div id="sidebar" class="col-3">
          {% include ds-site-sidebar.html %}
        </div>
        <div id="main-content-wrap" class="col-12 col-lg-9 mx-auto">
          {{ content }}
        </div>

      </div>


    </main>
  </div>

  {% include ds-site-footer.html %}

</body>
</html>