<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>

  {% include ds-site-header.html %}

  <main>
    <div class="container">

      <div class="row d-lg-flex d-block">
        <div class="col-3">
          {% include ds-site-sidebar.html %}
        </div>
        <div id="main-content-wrap" class="col-12 col-lg-9 mx-auto content-page pt-3">
          <div class="content-body">
            <h1 class="mb-5">{{ page.title }}</h1>
            {{ content }}
          </div>
        </div>
      </div>
    </div>

  </main>

  {% include ds-site-footer.html %}

</body>
</html>